:root{
    --constainer-bg-color:#333;
    --left-bg-color:rgba(51, 51, 51, 0.1);
    --left-bg-change-color:rgba(51, 51, 51, 0.5);
    --left-button-hover-color:rgba(161, 11, 11, 0.3);
    --right-bg-color:rgba(51, 51, 51, 0.1);
    --right-bg-change-color:rgba(51, 51, 51, 0.5);
    --right-button-hover-color:rgba(92, 92, 92, 0.3);
    --hover-width:75%;
    --other-width:25%;
    --speed:700ms;
}

html, body{
    padding: 0;
    margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1{
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.button{
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    height: 3.5rem;
    width: 15rem;
    text-align: center;
    line-height: 3.5rem;
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--constainer-bg-color);
}

.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left{
    left: 0;
    background: url("./img/01f7245e71a5eca801216518f1135c.jpg@1280w_1l_0o_100sh.jpg") no-repeat center center/ cover;
}

.split.left::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
}

.split.right{
    right: 0;
    background: url("./img/01124b5e71a5eda8012165180fdf78.jpg@1280w_1l_2o_100sh.jpg") no-repeat center center/ cover;
}

.split.right::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
}

/* mouuseenter left */
.hover-left .left{
    width: var(--hover-width);
}

.hover-left .right{
    width: var(--other-width);
}

.hover-left .right::before{
    z-index: 2;
    background: var(--right-bg-change-color);
}

/* mouuseenter left */
.hover-right .right{
    width: var(--hover-width);
}

.hover-right .left{
    width: var(--other-width);
}

.hover-right .left::before{
    z-index: 2;
    background: var(--left-bg-change-color);
}

/* transition */
.split.left, .split.right, .split.left::before, .split.right::before{
    transition: all var(--speed) ease-in-out;
}

/* button hover */
.split.left .button:hover{
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

.split.right .button:hover{
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

@media(max-width: 800px) {
    h1{
        font-size: 3rem;
    }

    .button{
        width: 12rem;
    }
}

@media(max-height: 700px) {
    .button{
        top: 60%;
    }
}